Repository silvelo/arturo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: replace main to master
  .github/workflows/main.yml
Due: none

fix: waring on build
  package.json
  tsconfig.json
Due: prettier --write

fix: update yarn version
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

fix: change to npm
  .github/workflows/main.yml
  .gitignore
  .yarnrc.yml
  angular.json
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

fix: release script
  .github/workflows/main.yml
  .releaserc.json
Due: prettier --write

fix: release script
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  67a182258d9fd99418eb3d8ec7c729c8962931f7
Due: none

chore(release): 3.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove github pages
  .github/workflows/main.yml
  package.json
Due: prettier --write

chore(release): 3.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  585bd2415ade25d367f169837408c5c67512e3d1
Due: none

refactor: move layout to main module
  package-lock.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/layout/components/header/header.component.html
  src/app/layout/components/header/header.component.scss
  src/app/layout/components/header/header.component.ts
  src/app/layout/components/languages/languages.component.html
  src/app/layout/components/languages/languages.component.scss
  src/app/layout/components/languages/languages.component.ts
  src/app/layout/components/logo/logo.component.html
  src/app/layout/components/logo/logo.component.scss
  src/app/layout/components/logo/logo.component.ts
  src/app/layout/components/navbar/navbar.component.html
  src/app/layout/components/navbar/navbar.component.scss
  src/app/layout/components/navbar/navbar.component.ts
  src/app/layout/components/toggle-theme/toggle-theme.component.html
  src/app/layout/components/toggle-theme/toggle-theme.component.scss
  src/app/layout/components/toggle-theme/toggle-theme.component.ts
  src/app/layout/components/version/version.component.html
  src/app/layout/components/version/version.component.scss
  src/app/layout/components/version/version.component.ts
  src/app/layout/pages/layout/layout.component.html
  src/app/layout/pages/layout/layout.component.scss
  src/app/layout/pages/layout/layout.component.ts
  src/app/modules/layout/layout-routing.module.ts
  src/app/modules/layout/layout.module.ts
Due: eslint --fix, prettier --write

refactor: education page style
  src/app/layout/pages/layout/layout.component.html
  src/app/modules/education/components/award-card/award-card.component.html
  src/app/modules/education/components/award-card/award-card.component.ts
  src/app/modules/education/components/certification-card/certification-card.component.html
  src/app/modules/education/components/certification-card/certification-card.component.scss
  src/app/modules/education/components/education-card/education-card.component.html
  src/app/modules/education/pages/education/education.component.html
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --write

refactor: experience page style
  src/app/data/butter/types/publication.ts
  src/app/modules/education/components/award-card/award-card.component.html
  src/app/modules/experience/components/experience-card/experience-card.component.html
  src/app/modules/experience/components/publication-card/publication-card.component.html
  src/app/modules/experience/pages/experience/experience.component.html
  src/app/shared/pipes/shorten.pipe.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --write

refactor: portfolio page style
  src/app/data/butter/types/portfolio.ts
  src/app/data/butter/types/skills.ts
  src/app/modules/portfolio/components/portfolio-card/portfolio-card.component.html
  src/app/modules/portfolio/pages/portfolio/portfolio.component.html
  src/app/modules/portfolio/pages/portfolio/portfolio.component.ts
Due: eslint --fix, prettier --write

refactor: about page style
  src/app/data/butter/types/social.ts
  src/app/modules/about/pages/about/about.component.html
  src/app/modules/about/pages/about/about.component.ts
  src/app/shared/components/common-card/common-card.component.html
  src/app/shared/components/common-card/common-card.component.scss
  src/app/shared/components/common-card/common-card.component.ts
  src/app/shared/components/common-header/common-header.component.html
  src/app/shared/components/common-header/common-header.component.scss
  src/app/shared/components/common-header/common-header.component.ts
  src/app/shared/components/content-card/content-card.component.html
  src/app/shared/components/content-card/content-card.component.scss
  src/app/shared/components/content-card/content-card.component.ts
  src/app/shared/components/expires-date/expires-date.component.html
  src/app/shared/components/expires-date/expires-date.component.scss
  src/app/shared/components/expires-date/expires-date.component.ts
  src/app/shared/components/list-links/list-links.component.html
  src/app/shared/components/list-links/list-links.component.scss
  src/app/shared/components/list-links/list-links.component.ts
  src/app/shared/components/range-date/range-date.component.html
  src/app/shared/components/range-date/range-date.component.scss
  src/app/shared/components/range-date/range-date.component.ts
  src/app/shared/components/rate/rate.component.html
  src/app/shared/components/rate/rate.component.scss
  src/app/shared/components/rate/rate.component.ts
  src/app/shared/components/skills/skills.component.html
  src/app/shared/components/skills/skills.component.scss
  src/app/shared/components/skills/skills.component.ts
  src/app/shared/components/social/social.component.html
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --write

refactor: home page style
  src/app/layout/pages/layout/layout.component.html
  src/app/modules/about/pages/about/about.component.html
  src/app/modules/about/pages/about/about.component.scss
  src/app/modules/education/pages/education/education.component.scss
  src/app/modules/experience/pages/experience/experience.component.scss
  src/app/modules/home/pages/home/home.component.html
  src/app/modules/home/pages/home/home.component.scss
  src/app/modules/home/pages/home/home.component.ts
  src/app/modules/portfolio/pages/portfolio/portfolio.component.html
  src/app/modules/portfolio/pages/portfolio/portfolio.component.scss
  src/app/shared/pipes/shorten.pipe.ts
  src/app/shared/pipes/time-diff.pipe.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --write

refactor: home page style
  src/app/app.module.ts
  src/app/core/services/theme.service.ts
  src/app/layout/components/header/header.component.html
  src/app/layout/components/languages/languages.component.html
  src/app/layout/components/languages/languages.component.ts
  src/app/layout/components/logo/logo.component.html
  src/app/layout/components/logo/logo.component.scss
  src/app/layout/components/logo/logo.component.ts
  src/app/layout/components/navbar/navbar.component.html
  src/app/layout/components/navbar/navbar.component.scss
  src/app/layout/components/navbar/navbar.component.ts
  src/app/layout/components/toggle-theme/toggle-theme.component.html
  src/app/layout/components/toggle-theme/toggle-theme.component.scss
  src/app/layout/components/toggle-theme/toggle-theme.component.ts
  src/app/layout/pages/layout/layout.component.html
  src/app/layout/pages/layout/layout.component.ts
  src/app/shared/shared.module.ts
  src/styles/themes/dark-theme.scss
  src/styles/themes/theme.scss
Due: eslint --fix, prettier --write

refactor: languages page style
  package-lock.json
  package.json
  src/app/layout/components/languages/languages.component.html
  src/app/layout/components/languages/languages.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write

refactor: languages page style
  package-lock.json
  package.json
  src/app/layout/components/languages/languages.component.html
  src/app/layout/components/languages/languages.component.ts
  src/app/shared/components/social/social.component.html
  src/app/shared/icons/icons.module.ts
  src/app/shared/shared.module.ts
  src/assets/icons/es-ga.svg
  src/assets/icons/es.svg
  src/assets/icons/us.svg
  src/styles.scss
Due: eslint --fix, prettier --write

refactor: create custom card component
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/core/components/loader/loader.component.html
  src/app/core/core.module.ts
  src/app/modules/about/about.module.ts
  src/app/modules/about/pages/about/about.component.html
  src/app/modules/education/components/award-card/award-card.component.html
  src/app/modules/education/components/certification-card/certification-card.component.html
  src/app/modules/education/components/education-card/education-card.component.html
  src/app/modules/education/education.module.ts
  src/app/modules/education/pages/education/education.component.html
  src/app/modules/experience/components/experience-card/experience-card.component.html
  src/app/modules/experience/components/publication-card/publication-card.component.html
  src/app/modules/experience/experience.module.ts
  src/app/modules/home/home.module.ts
  src/app/modules/portfolio/components/portfolio-card/portfolio-card.component.html
  src/app/modules/portfolio/pages/portfolio/portfolio.component.ts
  src/app/modules/portfolio/portfolio.module.ts
  src/app/shared/components/card/card-title-group.component.html
  src/app/shared/components/card/card.component.html
  src/app/shared/components/card/card.component.scss
  src/app/shared/components/card/card.component.ts
  src/app/shared/icons/icons.module.ts
  src/app/shared/lazy-shared.module.ts
  src/app/shared/material/material.module.ts
  src/app/shared/shared.module.ts
  src/assets/images/g1.png
  src/assets/images/g2.png
  src/assets/images/g3.png
Due: eslint --fix, prettier --write

fix: width 100%
  src/app/modules/education/pages/education/education.component.scss
Due: prettier --write

fix: create custom button
  src/app/layout/components/header/header.component.html
  src/app/modules/education/components/award-card/award-card.component.html
  src/app/modules/education/components/certification-card/certification-card.component.html
  src/app/modules/education/education-routing.module.ts
  src/app/modules/education/education.module.ts
  src/app/modules/education/pages/education/education.page.html
  src/app/modules/education/pages/education/education.page.scss
  src/app/modules/education/pages/education/education.page.ts
  src/app/modules/experience/components/publication-card/publication-card.component.html
  src/app/shared/components/button/button.component.html
  src/app/shared/components/button/button.component.ts
  src/app/shared/directives/button.directive.ts
  src/app/shared/lazy-shared/components/card/card-title-group.component.html
  src/app/shared/lazy-shared/components/social/social.component.html
  src/app/shared/lazy-shared/directives/icon-button.directive.ts
  src/app/shared/lazy-shared/lazy-shared.module.ts
  src/app/shared/material/material.module.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --write

refactor: remove button google and forms
  src/app/app.module.ts
  src/app/core/common/languages.ts
  src/app/core/common/navbar.ts
  src/app/core/common/routes.ts
  src/app/core/core.module.ts
  src/app/data/butter/types/butter.ts
  src/app/layout/components/languages/languages.component.html
  src/app/layout/components/languages/languages.component.ts
  src/app/layout/components/navbar/navbar.component.ts
  src/app/modules/about/pages/about/about.page.ts
  src/app/modules/education/pages/education/education.page.ts
  src/app/modules/experience/pages/experience/experience.page.ts
  src/app/modules/portfolio/pages/portfolio/portfolio.page.ts
  src/app/shared/material/material.module.ts
Due: eslint --fix, prettier --write

refactor: remove mat tabs
  src/app/app-routing.module.ts
  src/app/core/common/navbar.ts
  src/app/data/butter/types/butter.ts
  src/app/data/data.module.ts
  src/app/layout/components/navbar/navbar.component.html
  src/app/layout/components/navbar/navbar.component.scss
  src/app/modules/about/about.module.ts
  src/app/modules/education/components/award-list/award-list.component.html
  src/app/modules/education/components/award-list/award-list.component.scss
  src/app/modules/education/components/award-list/award-list.component.ts
  src/app/modules/education/components/certification-list/certification-list.component.html
  src/app/modules/education/components/certification-list/certification-list.component.scss
  src/app/modules/education/components/certification-list/certification-list.component.ts
  src/app/modules/education/components/education-list/education-list.component.html
  src/app/modules/education/components/education-list/education-list.component.scss
  src/app/modules/education/components/education-list/education-list.component.ts
  src/app/modules/education/education-routing.module.ts
  src/app/modules/education/education.module.ts
  src/app/modules/education/pages/education/education.page.html
  src/app/modules/education/pages/education/education.page.ts
  src/app/modules/experience/components/experience-list/experience-list.component.html
  src/app/modules/experience/components/experience-list/experience-list.component.scss
  src/app/modules/experience/components/experience-list/experience-list.component.ts
  src/app/modules/experience/components/publication-list/publication-list.component.html
  src/app/modules/experience/components/publication-list/publication-list.component.scss
  src/app/modules/experience/components/publication-list/publication-list.component.ts
  src/app/modules/experience/experience-routing.module.ts
  src/app/modules/experience/experience.module.ts
  src/app/modules/experience/pages/experience/experience.page.html
  src/app/modules/experience/pages/experience/experience.page.ts
  src/app/modules/portfolio/portfolio.module.ts
  src/app/shared/lazy-shared/components/tab-group/tab-group.component.html
  src/app/shared/lazy-shared/components/tab-group/tab-group.component.scss
  src/app/shared/lazy-shared/components/tab-group/tab-group.component.ts
  src/app/shared/lazy-shared/components/tab/tab.component.html
  src/app/shared/lazy-shared/components/tab/tab.component.scss
  src/app/shared/lazy-shared/components/tab/tab.component.ts
  src/app/shared/lazy-shared/lazy-shared.module.ts
  src/app/shared/material/material.module.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --write

refactor: remove material
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/components/content-layout/content-layout.component.html
  src/app/core/components/content-layout/content-layout.component.scss
  src/app/core/components/content-layout/content-layout.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/components/languages/languages.component.html
  src/app/core/components/languages/languages.component.scss
  src/app/core/components/languages/languages.component.ts
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/core.module.ts
  src/app/core/services/loader.service.ts
  src/app/layout/components/navbar/navbar.component.scss
  src/app/layout/content-layout/content-layout.component.html
  src/app/layout/content-layout/content-layout.component.ts
  src/app/shared/material/material.module.ts
  src/app/shared/shared.module.ts
  src/styles.scss
  src/styles/themes/components/_sidenav-theme.scss
  src/styles/themes/components/_tabs-theme.scss
  src/styles/themes/light-theme.scss
Due: eslint --fix, prettier --write

refactor: loader service
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/components/content-layout/content-layout.component.html
  src/app/core/components/content-layout/content-layout.component.ts
  src/app/core/services/loader.service.ts
Due: eslint --fix, prettier --write

style: add hover and color
  src/app/core/components/content-layout/content-layout.component.html
  src/app/core/components/content-layout/content-layout.component.scss
  src/app/core/components/content-layout/content-layout.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/components/languages/languages.component.html
  src/app/core/components/languages/languages.component.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/modules/education/components/certification-card/certification-card.component.html
  src/app/modules/portfolio/components/portfolio-card/portfolio-card.component.html
  src/app/shared/lazy-shared/components/social/social.component.html
  src/app/shared/lazy-shared/components/tab-group/tab-group.component.html
  src/app/shared/lazy-shared/components/tab/tab.component.ts
  src/app/shared/lazy-shared/directives/icon-button.directive.ts
  src/index.html
  tailwind.config.js
Due: eslint --fix, prettier --write

style: add dark theme
  src/app/core/components/header/header.component.ts
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.ts
  src/app/modules/about/pages/about/about.page.html
  src/app/modules/home/pages/home/home.page.html
  src/app/modules/portfolio/components/portfolio-card/portfolio-card.component.html
  src/app/shared/components/card/card.component.ts
  src/app/shared/directives/button.directive.ts
  src/app/shared/directives/card-title.directive.ts
  src/app/shared/lazy-shared/components/tab-group/tab-group.component.html
  src/app/shared/lazy-shared/components/tab/tab.component.html
  src/app/shared/lazy-shared/components/tab/tab.component.ts
  src/app/shared/lazy-shared/directives/card-content.directive.ts
  src/app/shared/lazy-shared/directives/card-subtitle-right.directive.ts
  src/app/shared/lazy-shared/directives/card-subtitle.directive.ts
  src/app/shared/lazy-shared/directives/card-title-right.directive.ts
  src/index.html
Due: eslint --fix, prettier --write

style: change image on dark mode
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/theme-mode.service.ts
  src/app/shared/icons/icons.module.ts
Due: eslint --fix, prettier --write

chore(release): 3.9.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7eda96d0449171a4784bb72b95387ea58e774a94
Due: none

style: fix break styles
  src/app/app.component.html
  src/app/app.component.scss
  src/app/core/components/content-layout/content-layout.component.html
  src/app/core/components/content-layout/content-layout.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write

style: add backdrop to navbar
  src/app/core/components/content-layout/content-layout.component.html
  src/app/core/components/content-layout/content-layout.component.ts
  src/app/core/components/navbar/navbar.component.html
Due: eslint --fix, prettier --write

style: add backdrop to navbar
  src/app/core/components/content-layout/content-layout.component.html
  src/app/core/components/navbar/navbar.component.ts
Due: eslint --fix, prettier --write

style: mobile navigation bar
  src/styles.scss
Due: prettier --write

style: mobile navigation bar
  src/app/modules/about/pages/about/about.page.html
  src/app/modules/about/pages/about/about.page.scss
  src/app/modules/about/pages/about/about.page.ts
  src/app/modules/portfolio/pages/portfolio/portfolio.page.scss
  src/app/modules/portfolio/pages/portfolio/portfolio.page.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (((any of: *.ts) or (any of: *.html)) or (any of: *.scss)) or (any of: *.json)
