Repository silvelo/arturo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.html": ["prettier --write"],
  "*.scss": ["prettier --write"],
  "*.json": ["prettier --write"]
}

feat: add url project
  src/app/data/portfolio/portfolio.ts
  src/app/modules/portfolio/components/portfolio-card/portfolio-card.component.html
  src/app/shared/icons/icons.module.ts
Due: eslint --fix, prettier --write

chore(release): 3.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d21245a9b17670aeb2bb2224e6688fac2c9c9ae6
Due: none

fix: rename project
  angular.json
  package.json
Due: prettier --write

chore(release): 3.10.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8715e600cbd78d583762bfc106210f4e63279dd0
Due: none
